
:root {
    /* Base font size */
    font-size: 10px;
    /* Full grid area variable */
    --fullGrid: 1 / 1 / -1 / -1;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
 }
     
 .spinner-wrapper .spinner {
     background: rgb(255, 255, 255);
     height: 100%;
     width:100%;
     display: flex;
     justify-content: center;
     align-items: center;
         }

body {
    margin: 0;
}

header {
    /* Create grid spanning viewport width & height */
    display: grid;
    grid-template-rows: 100vh;
    overflow: hidden;
    margin: 0;
    position: relative;

}

.video-bg {
    /* Span the full grid */
    grid-area: var(--fullGrid);
    /* Re-size video to cover full screen while maintaining aspect ratio */
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    /* Display video below overlay */
    z-index: -1;
}

.video-bg::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
    grid-area: var(--fullGrid);
    text-align: center;
    background: #c300ff2f;
}

h1 {
    font-size: calc(2.0em + 3.5vw);
    font-family: 'Righteous', cursive;
    text-shadow: 2px 2px 0 rgba(107, 255, 206, 0.514), -2px -2px 0 rgba(203, 255, 250, 0.637);
    font-weight: lighter;
    color: #59005c09;
    user-select: none; 
    margin: 0;
    font-variant: small-caps;
    transition: 0.2s;
        -webkit-touch-callout: none;
        -webkit-user-select: none; 
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
}

h1:hover {
    color: #023500a4;
    transition: 0.2s;
}

h2 {
    font-size: calc(3em + 0.2vw);
    font-weight: lighter;
    text-align: center;
    margin: 1.2em 0;
    color: #111;
    margin: 0;
    font-size: 1.5rem;
    color: rgb(255, 231, 255);
    padding: 5vh;
}

@media only screen and (max-width: 888px) {
    h2 {
                padding:1vh;
                font-size: calc(1em + 0.2vw);
            }
}
    
.subtitle_index {
    text-align:center;
    width: 100vw;
    font-family: 'Press Start 2P', cursive;
}

.options_index {
    display:grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    max-width: 1100px;
}

@media only screen and (max-width: 456px) {
    .options_index {
        grid-template-columns: auto;
    }
}
@media screen and (max-width: 672px) and (min-width: 457px) {
    .options_index {
        grid-template-columns: auto auto;
    }
}

.options_index a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff57;
    font-family: 'Press Start 2P', cursive;
    margin: 20px;
    padding: 5px 10px;
    position: relative;
    left:0;
    bottom: 0;
    transition: 0.2s;
    box-shadow: 4px 4px 1px #ffffff57;
}

.options_index a:hover {
    position: relative;
    left:-5px;
    bottom: 5px;
    transition: 0.2s;
    color: #ffffff;
    box-shadow: 4px 4px 1px #ffffff;
}



.index_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index_container_bg {
    background: white;
}

footer {
    position:absolute;
    bottom: 10px;
    width: 100%;
    text-align:center;
    color:rgb(255, 255, 255);
    font-family: 'Press Start 2P', cursive;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.hide {
    display: none;
}

footer a {
    color:inherit;
}

.under_construction {
    position: relative;
}

.index_container p {
    position:absolute;
    left:-120px;
    top: -10px;
    color: white;
    font-size: 1.2vw;
    transform: rotate(-15deg);
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 0, 85);
    text-shadow: 2px 2px 1px black;
}
